.main__wrapper {
  font-family:  "Helvetica Neue",Helvetica,Arial,sans-serif;
  background-image: url(./images/awakening_top_background.png), url(./images/awakening_bottom_background.jpg);
  background-repeat: no-repeat, repeat;
  background-position: center, left top;
  background-size: 50%, auto;
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 auto;
}

.header {
  margin: 0;
  padding: 0;
  font-size: 0;
}

.header__image{
  width: 100%;
  max-height: 150px;
}
.info {
  margin: 0;
  padding: 0;
  
  width: 100%;
}

.info__title {
  text-align: center;
  font-size: 2.5em;
  font-weight: 900;
  line-height: 48px;
  text-transform: uppercase;
  margin: 0;
  padding: 20px 0;
}

.information {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin: 0 auto;
  width: 95%;
  gap: 2px 10px;
}

.info__wrapper {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 2.2rem;
  gap: 5px;
  min-width: 142px;
}

.info__wrapper_name_fio {
  width: 100%;
}
.info__wrapper_name_level {
 width: 15%;
}
.info__wrapper_name_age {
  width: 15%;
}
.info__wrapper_name_background {
  width: calc(70% - 20px);
}
.info__wrapper_name_rank {
  width: calc(50% - 5px);
}
.info__wrapper_name_grup {
  width: 50%;
} 
.info__label {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 20px;
}

.info__input {
  outline: none;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 3px;
  background: #ffffff88;
  text-align: left;
  padding: 5px;
  height: 1.8rem;
  width: 100%;
  min-width: 50px;
  height: 100%;
  text-align: center;
  font-size: 1em;
}

.info__input:hover {
  background: #4d2c3155;
}

.info__input:focus {
  border-color: #bdbdbd;
  box-shadow: 0 0 0 0.2rem #bebebe80;
  background: #ffffff88;
  outline: 0;
}

.info__selects {
  background: #ffffff88;
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  cursor: pointer;
}

.info__selects:hover {
  background: #4d2c3155;
}

.info__selects:focus {
  background: #ffffff88;
}
.info__selects {
  border-radius:3px;
  width: 100%;
}

.button {
  background: transparent;
  border: 1px solid #bebebe;
  border-radius: 3px;
}

.attribute {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 95%;
  margin: 0 auto;
  padding: 20px 0 0 0;
  gap: 10px;
}
.attribute__wrapper{
  display: flex;
  max-width: 33.3%;
  height: 5rem;
}

.button:hover {
  background-color:#4d2c3155;
}
.button::before {
  content: ' ';
}

.button__attribute {
  width: 9.5rem;
  font-size: 20px;
  width: 50%;
}

.attribute__input {
  outline: none;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 3px;
  background: #ffffff88;
  text-align: left;
  padding: 5px;
  height: 1.8rem;
  text-align: center;
  font-size: 1em; 
  font-size: 20px;
  width: 25%;
  height: 100%;
}

.attribute__input:hover {
  background-color:#4d2c3155;
}

.attribute__input:focus {
  background-color:#ffffff88;
}

.attribute__button-wrapper {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 100%;
}
.button__advantage {
  height: 50%;
}
.button__disadvantage {
  height: 50%;
}
.sheet-rolltemplate-customcheck {
  display: none;
}