@import url("https://fonts.googleapis.com/css2?family=Finlandica:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

.main__wrapper {
  font-family: "Finlandica", sans-serif;
  background-image: url(https://raw.githubusercontent.com/Kip-ochka/Awakening_RPG/main/images/awakening_top_background.png),
    url(https://raw.githubusercontent.com/Kip-ochka/Awakening_RPG/main/images/awakening_bottom_background.jpg);
  background-repeat: no-repeat, repeat;
  background-position: center, left top;
  background-size: 40%, auto;
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 auto 20px;
  box-sizing: border-box;
}

.header {
  margin: 0;
  padding: 0;
  font-size: 0;
}

.header__image {
  width: 100%;
  max-height: 150px;
}
.info {
  margin: 0;
  padding: 20px 0 0 0;

  width: 1000px;
}

.information {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin: 0 auto;
  width: 950px;
  gap: 2px 10px;
}

.info__wrapper {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 2.2rem;
  gap: 5px;
  min-width: 142px;
}

.info__wrapper_name_fio {
  width: 950px;
  height: 35px;
}
.info__wrapper_name_level {
  width: 160px;
  height: 35px;
}
.info__wrapper_name_age {
  width: 160px;
  height: 35px;
}
.info__wrapper_name_background {
  width: 610px;
  height: 35px;
}
.info__wrapper_name_rank {
  width: 470px;
  height: 35px;
}
.info__wrapper_name_grup {
  width: 470px;
  height: 35px;
}

.info__label {
  font-family: "Finlandica", sans-serif;
  font-weight: 400;
  font-size: 24px;
  margin: 0;
  padding: 0;
}

.info__input {
  font-family: "Finlandica", sans-serif;
  outline: none;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 3px;
  background: #ffffff88;
  text-align: left;
  padding: 5px;
  width: 100%;
  min-width: 50px;
  height: 100%;
  font-size: 18px;
}
.info__input:hover {
  background: #4d2c3155;
}
.info__input:focus {
  border-color: #bdbdbd;
  box-shadow: 0 0 0 0.2rem #bebebe80;
  background: #ffffff88;
  outline: 0;
}

.info__selects {
  font-family: "Finlandica", sans-serif;
  background: #ffffff88;
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  cursor: pointer;
  font-size: 20px;
}

.info__selects:hover {
  background: #4d2c3155;
}
.info__selects:focus {
  background: #ffffff88;
}

.info__selects {
  border-radius: 3px;
  width: 100%;
}
/*------------------------------*/
.char-interface {
  width: 950px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 350px;
  grid-template-columns: 284px auto;
  column-gap: 10px;
}
/* тут меняется линия на грид */
.attribute {
  display: grid;
  width: 950px;
  margin: 20px 0 0 0;
  padding: 0;
  gap: 10px;
}

.attribute__wrapper {
  display: flex;
  width: 280px;
  height: 80px;
  gap: 1px;
  background-color: #ffffff50;
}
.attribute__wrapper_small {
  height: 63px;
}
.button {
  font-family: "Finlandica", sans-serif;
  background: transparent;
  border: 1px solid #bebebe;
  border-radius: 3px;
  cursor: pointer;
}
.button:hover {
  background-color: #4d2c3155;
}
.btn::before {
  content: "";
}
.btn::after {
  content: "";
}

.button__attribute {
  font-size: 24px;
  width: 150px;
  font-family: "Finlandica", sans-serif;
}

.attribute__input {
  font-family: "Finlandica", sans-serif;
  outline: none;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 3px;
  background: #ffffff88;
  text-align: left;
  padding: 5px;
  text-align: center;
  font-size: 28px;
  width: 85px;
  height: 100%;
}

.attribute__input:hover {
  background-color: #4d2c3155;
}

.attribute__input:focus {
  border-color: #bdbdbd;
  box-shadow: 0 0 0 0.2rem #bebebe80;
  background: #ffffff88;
  outline: 0;
}

.attribute__button-wrapper {
  display: flex;
  flex-direction: column;
  width: 67px;
  gap: 1px;
}
.button__advantage {
  height: 50%;
  width: 59px;
  font-size: 24px;
  font-weight: 400;
  font-family: "Finlandica", sans-serif;
}
.button__disadvantage {
  height: 50%;
  width: 59px;
  font-size: 24px;
  font-weight: 400;
  font-family: "Finlandica", sans-serif;
}
.button__attribute_init-char {
  width: 100%;
  height: 59px;
}

.char-features {
  display: grid;
  grid-template-columns: 210px 210px 210px;
  gap: 10px;
  margin-top: 20px;
  padding: 0;
  width: 656px;
}

.char-feature {
  display: flex;
  width: 208px;
  align-items: center;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 3px;
  gap: 9px 0;
  padding-bottom: 3px;
  height: 328px;
  background-color: #ffffff50;
}
.char-feature:last-child {
  margin-bottom: 10px;
}

.char-feature__title {
  font-family: "Finlandica", sans-serif;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  min-height: 54px;
  width: 95%;
  margin: 14px 0 0 0;
  justify-content: center;
}

.char-feature__label {
  font-family: "Finlandica", sans-serif;
  font-weight: 400;
  font-size: 24px;
  padding: 0;
  margin: 0;
}

.char-features__input-wrapper {
  display: grid;
  align-items: center;
  grid-template-columns: 116px auto;
  gap: 0 5px;
  height: 50px;
}

.char-feature__input {
  font-family: "Finlandica", sans-serif;
  outline: none;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 3px;
  background: #ffffff88;
  text-align: left;
  width: 76px;
  text-align: center;
  font-size: 24px;
  height: 50px;
}
.char-feature__input:hover {
  background-color: #4d2c3155;
}
.char-feature__input:focus {
  border-color: #bdbdbd;
  box-shadow: 0 0 0 0.2rem #bebebe80;
  background: #ffffff88;
  outline: 0;
}

.char-feature__button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  font-family: "Finlandica", sans-serif;
  background: transparent;
  background-color: transparent;
  border-radius: 3px;
  cursor: pointer;
  width: 183px;
  font-size: 24px;
  height: 50px;
  border: 1px solid #ccc;
}
.char-feature__button:hover {
  background-color: #4d2c3155;
}

.button__attribute_init-char {
  width: 279px;
}
.char-feature__button-wrapper {
  display: flex;
  width: 95%;
  justify-content: space-between;
  gap: 0 1px;
}

.char-feature__button_half {
  padding: 0 1px 0;
  width: 100px;
  font-size: 18px;
}

.oddities {
  display: grid;
  grid-template-columns: 470px 470px;
  gap: 10px;
  width: 950px;
  margin: 0 auto;
  padding: 20px 0 0 0;
}

.oddities__section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 466px;
  min-height: 210px;
  box-sizing: border-box;
  margin: 0 auto;
  gap: 10px;
  border: 1px solid #bebebe;
  border-radius: 3px;
  background-color: #ffffff50;
}

.oddities__title {
  font-family: "Finlandica", sans-serif;
  font-weight: 400;
  font-size: 24px;
  width: 95%;
  margin: 0 auto;
  padding: 30px 0 10px 0;
}

.odities__control-wrapper {
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  justify-content: flex-end;
  align-items: center;
}

.oddities__button {
  font-family: "Finlandica", sans-serif;
  background: transparent;
  background-color: transparent;
  border: 1px solid #bebebe;
  border-radius: 3px;
  cursor: pointer;
  width: 135px;
  font-size: 21px;
  height: 50px;
}
.oddities__button:hover {
  background-color: #4d2c3155;
}
.oddities__button::before {
  content: " ";
}
.oddities__label {
  font-family: "Finlandica", sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin: 0;
}

.oddities__select {
  font-family: "Finlandica", sans-serif;
  outline: none;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 3px;
  background: #ffffff88;
  text-align: left;
  text-align: center;
  font-size: 24px;
  height: 56px;
  width: 56px;
}
.oddities__select:hover {
  background: #4d2c3155;
}
.oddities__select:focus {
  background: #ffffff88;
}

.oddities__textarea {
  width: 442px;
  height: 90px;
  margin: 0 auto 10px;
  padding: 0;
  resize: none;
  font-family: "Finlandica", sans-serif;
  outline: none;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 3px;
  background: #ffffff88;
}
.oddities__textarea:hover {
  background-color: #4d2c3155;
}
.oddities__textarea:focus {
  box-shadow: 0 0 0 0.2rem #bebebe80;
  background: #fff;
}

.inventory {
  display: flex;
  flex-direction: column;
  width: 950px;
  margin: 0 auto;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin: 20px auto;
  background-color: #ffffff50;
}
.inventory__weapon {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.inventory__equipment {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.inventory__title {
  width: 918px;
  font-family: "Finlandica", sans-serif;
  font-weight: 400;
  font-size: 24px;
  padding: 0;
  text-align: center;
}

.inventory__title_weapon{
  margin: 10px 0 30px 0;
}
.inventory__title_eqp{
  margin: 30px 0 30px 0;
}
.inventory__title_staff{
  margin: 30px 0 30px 0;
}

.inventory__columns-name {
  display: flex;
  width: 919px;
  gap: 5px;
  padding: 0 5px;
  box-sizing: content-box;
}

.inventory__name-item {
  font-family: "Finlandica", sans-serif;
  font-size: 20px;
  margin: 0;
  padding: 0;
}
.repeating_inventory {
  border: none;
  margin: 0;
  padding: 0;
}
.repeating-inventory-item {
  display: flex;
  width: 918px;
  height: 36px;
  margin: 0;
  padding: 5px;
  border: none;
  gap: 5px;
}
.repeating_gearlist {
  border: none;
  margin: 0;
  padding: 0;
}
.repeating-gearlist-item {
  display: flex;
  justify-content: center;
  width: 918px;
  height: 36px;
  margin: 0;
  padding: 5px;
  border: none;
  gap: 5px;
}
.repeating_stuff {
  border: none;
  width: 918px;
  margin: 0;
  padding: 0;
}
.repeating-stuff-item {
  display: grid;
  justify-content: center;
  width: 918px;
  grid-template-columns: repeat(4, 229px);
  margin: 0 auto 20px auto;
  padding: 5px;
  border: none;
  gap: 1px;
}

.repeating_gearlist__input {
  font-family: "Finlandica", sans-serif;
  outline: none;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 3px;
  background: #ffffff88;
  text-align: left;
  padding: 2px;
  font-size: 18px;
  height: 30px;
  width: 170px;
}
.repeating_gearlist__input_meloch {
  width: 229px;
}
.repeating_gearlist__input:hover {
  background: #4d2c3155;
}
.repeating_gearlist__input:focus {
  border-color: #bdbdbd;
  box-shadow: 0 0 0 0.2rem #bebebe80;
  background: #ffffff88;
  outline: 0;
}
.inventory__name-item_name {
  width: 402px;
}
.repeating_gearlist__input_type_name {
  width: 480px;
}
.inventory__name-item_type {
  width: 90px;
}
.repeating_inventory__input_weapondice {
  width: 50px;
}
.inventory__name-item_dmg {
  width: 103x;
}
.repeating_inventory__input_type_quality {
  width: 375px;
}
.inventory__name-item_eq_name {
  width: 480px;
}
.inventory__name-item_eq_sum {
  width: 59px;
}

.repeating_inventory__select {
  font-family: "Finlandica", sans-serif;
  background: #ffffff88;
  border: 1px solid #ccc;
  cursor: pointer;
  font-size: 20px;
  text-align: start;
  width: 89px;
  height: 36px;
}
.repeating_inventory__select:hover {
  background: #4d2c3155;
}
.repeating_inventory__select:focus {
  background: #ffffff88;
}
/* ---------------------------------------------- */
.inventory__weapondice-wrapper {
  display: flex;
  flex-direction: row;
  gap: 3px;
}
.inventory__button {
  font-family: "Finlandica", sans-serif;
  background: transparent;
  border: 1px solid #bebebe;
  border-radius: 3px;
  cursor: pointer;
  width: 44px;
  height: 30px;
  margin: 0;
  font-size: 18px;
}
.inventory__button:hover {
  background-color: #4d2c3155;
}
/* ------------------------------------------------- */
.sheet-rolltemplate-customcheck,
.sheet-rolltemplate-init,
.sheet-rolltemplate-healing,
.sheet-rolltemplate-hplevel,
.sheet-rolltemplate-defense,
.sheet-rolltemplate-death,
.sheet-rolltemplate-massorder,
.sheet-rolltemplate-uniqorder,
.sheet-rolltemplate-problemorder,
.sheet-rolltemplate-fear,
.sheet-rolltemplate-ps,
.sheet-rolltemplate-atck,
.sheet-rolltemplate-rankinit,
.sheet-rolltemplate-mut {
  background-image: url(https://raw.githubusercontent.com/Kip-ochka/Awakening_RPG/main/images/awakening_bottom_background.jpg);
}

.sheet-rolltemplate-atck,
.sheet-rolltemplate-defense,
.sheet-rolltemplate-customcheck {
  background-image: url(https://raw.githubusercontent.com/Kip-ochka/Awakening_RPG/main/images/awakening_bottom_background.jpg);
  text-align: center;
}

.sheet-rolltemplate-atck .inlinerollresult.fullfail,
.sheet-rolltemplate-defense .inlinerollresult.fullfail {
  border: green 2px solid;
}

.sheet-rolltemplate-atck .inlinerollresult.fullcrit,
.sheet-rolltemplate-defense .inlinerollresult.fullcrit {
  border: red 2px solid;
}

.sheet-rolltemplate-mut .inlinerollresult,
.sheet-rolltemplate-mut .inlinerollresult.fullfail,
.sheet-rolltemplate-mut .inlinerollresult.fullcrit,
.sheet-rolltemplate-mut .inlinerollresult.importantroll,
.sheet-rolltemplate-ps .inlinerollresult,
.sheet-rolltemplate-ps .inlinerollresult.fullfail,
.sheet-rolltemplate-ps .inlinerollresult.fullcrit,
.sheet-rolltemplate-ps .inlinerollresult.importantroll,
.sheet-rolltemplate-fear .inlinerollresult,
.sheet-rolltemplate-fear .inlinerollresult.fullfail,
.sheet-rolltemplate-fear .inlinerollresult.fullcrit,
.sheet-rolltemplate-fear .inlinerollresult.importantroll,
.sheet-rolltemplate-problemorder .inlinerollresult,
.sheet-rolltemplate-problemorder .inlinerollresult.fullfail,
.sheet-rolltemplate-problemorder .inlinerollresult.fullcrit,
.sheet-rolltemplate-problemorder .inlinerollresult.importantroll,
.sheet-rolltemplate-massorder .inlinerollresult,
.sheet-rolltemplate-massorder .inlinerollresult.fullfail,
.sheet-rolltemplate-massorder .inlinerollresult.fullcrit,
.sheet-rolltemplate-massorder .inlinerollresult.importantroll,
.sheet-rolltemplate-uniqorder .inlinerollresult,
.sheet-rolltemplate-uniqorder .inlinerollresult.fullfail,
.sheet-rolltemplate-uniqorder .inlinerollresult.fullcrit,
.sheet-rolltemplate-uniqorder .inlinerollresult.importantroll,
.sheet-rolltemplate-talinit .inlinerollresult,
.sheet-rolltemplate-talinit .inlinerollresult.fullfail,
.sheet-rolltemplate-talinit .inlinerollresult.fullcrit,
.sheet-rolltemplate-talinit .inlinerollresult.importantroll,
.sheet-rolltemplate-death .inlinerollresult,
.sheet-rolltemplate-death .inlinerollresult.fullfail,
.sheet-rolltemplate-death .inlinerollresult.fullcrit,
.sheet-rolltemplate-death .inlinerollresult.importantroll,
.sheet-rolltemplate-rankinit .inlinerollresult,
.sheet-rolltemplate-rankinit .inlinerollresult.fullfail,
.sheet-rolltemplate-rankinit .inlinerollresult.fullcrit,
.sheet-rolltemplate-rankinit .inlinerollresult.importantroll,
.sheet-rolltemplate-inithp .inlinerollresult,
.sheet-rolltemplate-inithp .inlinerollresult.fullfail,
.sheet-rolltemplate-inithp .inlinerollresult.fullcrit,
.sheet-rolltemplate-inithp .inlinerollresult.importantroll,
.sheet-rolltemplate-hplevel .inlinerollresult,
.sheet-rolltemplate-hplevel .inlinerollresult.fullfail,
.sheet-rolltemplate-hplevel .inlinerollresult.fullcrit,
.sheet-rolltemplate-hplevel .inlinerollresult.importantroll,
.sheet-rolltemplate-healing .inlinerollresult,
.sheet-rolltemplate-healing .inlinerollresult.fullfail,
.sheet-rolltemplate-healing .inlinerollresult.fullcrit,
.sheet-rolltemplate-healing .inlinerollresult.importantroll,
.sheet-rolltemplate-init .inlinerollresult,
.sheet-rolltemplate-init .inlinerollresult.fullfail,
.sheet-rolltemplate-init .inlinerollresult.fullcrit,
.sheet-rolltemplate-init .inlinerollresult.importantroll,
.sheet-rolltemplate-customcheck .inlinerollresult,
.sheet-rolltemplate-customcheck .inlinerollresult.fullfail,
.sheet-rolltemplate-customcheck .inlinerollresult.fullcrit,
.sheet-rolltemplate-customcheck .inlinerollresult.importantroll {
  background-color: transparent;
  border: none;
  color: black;
}

.charsheet button[type="roll"]::before {
  content: "";
}

input,
textarea,
select,
.uneditable-input {
  margin: 0;
}

.largedialog textarea {
  width: 442px;
  height: 90px;
}

input[type="file"] {
  height: 36px;
}

/* .ui-dialog .charsheet input {
  height: 36px;
} */

/* .ui-dialog input[type="text"] {
  height: 36px;
} */

.ui-dialog .charsheet input[type="number"] {
  width: 3em;
}
.ui-dialog .charsheet {
  padding: 0px;
}

.ui-dialog .charsheet button[type="roll"],
.ui-dialog .charsheet button[type="compendium"] {
  padding: 2px 3px;
  font-size: 1.3em;
  margin: 0;
}
